In [8]:
import requests
from bs4 import BeautifulSoup

url = "https://webscraper.io/test-sites/e-commerce/static"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

# Extract all headings
for tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
    headings = soup.find_all(tag)
    for heading in headings:
        print(tag.upper(), ":", heading.text.strip())

H1 : Test Sites
H2 : E-commerce training site
H3 : Top items being scraped right now
H4 : $1133.91
H4 : Lenovo Legion...
H4 : $498.23
H4 : Lenovo V510 Bl...
H4 : $172.99
H4 : IdeaTab S5000

In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://webscraper.io/test-sites/e-commerce/static"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

links = []

for a in soup.find_all('a'):
    link = a.get('href')
    if link:
        links.append(link)

# Save to CSV
df = pd.DataFrame(links, columns=["Hyperlinks"])
df.to_csv("hyperlinks.csv", index=False)

print("Links saved successfully!")

Links saved successfully!

In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://books.toscrape.com"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

products = soup.find_all("article", class_="product_pod")

data = []

for product in products:
    name = product.h3.a["title"]
    price = product.find("p", class_="price_color").text

    data.append([name, price])

df = pd.DataFrame(data, columns=["Product Name", "Price"])
df.to_csv("products.csv", index=False)

print("Product data saved!")

Product data saved!

In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://news.ycombinator.com/newest"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

titles = soup.find_all("span", class_="titleline")

news_data = []

for title in titles:
    headline = title.text
    link = title.a["href"]

    news_data.append([headline, link])

df = pd.DataFrame(news_data, columns=["Headline", "Link"])
print(df)

                                             Headline  \
0   New nickel-iron battery charges in seconds, en...
1   Police arresting 1000 paedophiles a month acro...
2        Making of RP2040 Doom (kilograham.github.io)
3   OpenAI Claims DeepSeek Distilled US Models to ...
4   Russian woman carried Ukraine team placard at ...
5   Ask HN: How are indie AI app builders monetizi...
6   China's dancing robots: how worried should we ...
7   Ineffable Intelligence (Founder David Silver, ...
8   Show HN: Limpio – New Crypto Market Data Engin...
9   arXivisual – Transform research papers into 3b...
10  Show HN: SentryRF – A private, local-first And...
11  Shigeru Ban on building cathedrals and quake s...
12  Apple developer account takes up to weeks to e...
13  Air pollution may directly contribute to Alzhe...
14       Index, Count, Offset, Size (tigerbeetle.com)
15  After a fierce competition OpenAI hired Peter ...
16  Chunyun – the largest annual human migration [...
17  Climber on trial for leaving girlfriend to die...
18  Show HN: SideDisplay – Turn Tesla screen into ...
19  MineBench: LLM benchmark using voxel art (redd...
20  Supply Chain Necromancy: Reborn Namespaces in ...
21  Making music with MIDI just got a real boost i...
22       A single typo led to RCE in Firefox (kqx.io)
23  Cryptographic Issues in Matrix's Rust Library ...
24                    Carl Sassenrath (wikipedia.org)
25  Hazardous substances found in all headphones t...
26  Your Agent Framework Is Just a Bad Clone of El...
27  Parents are opting kids out of school laptops,...
28  RocksDB development finds a CPU bug (rocksdb.org)
29  Connectix RAM Doubler (2022) (computeradsfromt...

                                                 Link
0   https://techlifehub.com/2026/02/17/new-nickel-...
1   https://www.theguardian.com/uk-news/2026/feb/1...
2           https://kilograham.github.io/rp2040-doom/
3   https://www.bloomberg.com/news/articles/2026-0...
4   https://www.theguardian.com/sport/2026/feb/17/...
5                                    item?id=47058667
6   https://www.theguardian.com/world/2026/feb/18/...
7   https://www.ft.com/content/dffe72d0-4064-4412-...
8                     https://docs.limpioterminal.pro
9              https://github.com/rajshah6/arXivisual
10                              https://sentryrf.com/
11  https://www.theguardian.com/artanddesign/2026/...
12   https://developer.apple.com/forums/thread/815713
13  https://theconversation.com/air-pollution-may-...
14  https://tigerbeetle.com/blog/2026-02-16-index-...
15  https://www.wsj.com/tech/ai/this-viral-ai-proj...
16  https://aeon.co/videos/chinese-new-year-is-a-s...
17     https://www.bbc.com/news/articles/c5yv9plyjgpo
18                            https://sidedisplay.co/
19  https://old.reddit.com/r/ClaudeAI/comments/1r7...
20  https://labs.itresit.es/2026/02/18/supply-chai...
21  https://blogs.windows.com/windowsexperience/20...
22                   https://kqx.io/post/firefox0day/
23  https://soatok.blog/2026/02/17/cryptographic-i...
24      https://en.wikipedia.org/wiki/Carl_Sassenrath
25  https://www.theguardian.com/technology/2026/fe...
26  https://georgeguimaraes.com/your-agent-orchest...
27  https://www.nbcnews.com/tech/tech-news/parents...
28   https://rocksdb.org/blog/2026/02/17/cpu-bug.html
29  https://computeradsfromthepast.substack.com/p/...

In [12]:
import requests
from bs4 import BeautifulSoup

url = "https://www.linkedin.com/"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

images = soup.find_all("img")

for img in images:
    alt_text = img.get("alt")
    if alt_text:
        print("Alt Text:", alt_text)

Alt Text: Welcome to your professional community
Alt Text: Who is LinkedIn for?

In [13]:
import requests
from bs4 import BeautifulSoup

url = "https://www.bbc.com/"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

# Meta description
description = soup.find("meta", attrs={"name": "description"})

# Meta keywords
keywords = soup.find("meta", attrs={"name": "keywords"})

if description:
    print("Description:", description.get("content"))

if keywords:
    print("Keywords:", keywords.get("content"))

Description: Visit BBC for trusted reporting on the latest world and US news, sports, business, climate, innovation, culture and much more.

In [14]:
#Loading weather dataset
import pandas as pd
df = pd.read_csv("weather(1).csv")
print(df)

       Data.Precipitation Date.Full  Date.Month  Date.Week of  Date.Year  \
0                    0.00  3/1/2016           1             3       2016
1                    0.00  3/1/2016           1             3       2016
2                    0.16  3/1/2016           1             3       2016
3                    0.00  3/1/2016           1             3       2016
4                    0.01  3/1/2016           1             3       2016
...                   ...       ...         ...           ...        ...
16738                0.08  1/1/2017           1             1       2017
16739                0.00  1/1/2017           1             1       2017
16740                0.00  1/1/2017           1             1       2017
16741                0.06  1/1/2017           1             1       2017
16742                0.10  1/1/2017           1             1       2017

      Station.City Station.Code Station.Location Station.State  \
0       Birmingham          BHM   Birmingham, AL       Alabama
1       Huntsville          HSV   Huntsville, AL       Alabama
2           Mobile          MOB       Mobile, AL       Alabama
3       Montgomery          MGM   Montgomery, AL       Alabama
4        Anchorage          ANC    Anchorage, AK        Alaska
...            ...          ...              ...           ...
16738       Casper          CPR       Casper, WY       Wyoming
16739     Cheyenne          CYS     Cheyenne, WY       Wyoming
16740       Lander          LND       Lander, WY       Wyoming
16741      Rawlins          RWL      Rawlins, WY       Wyoming
16742     Sheridan          SHR     Sheridan, WY       Wyoming

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
0                           39.0                         46
1                           39.0                         47
2                           46.0                         51
3                           45.0                         52
4                            NaN                         38
...                          ...                        ...
16738                       23.0                         32
16739                       32.0                         42
16740                       17.0                         29
16741                       23.0                         31
16742                       21.0                         34

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed  \
0                             32                   33             4.33
1                             31                   32             3.86
2                             41                   35             9.73
3                             38                   32             6.86
4                             29                   19             7.80
...                          ...                  ...              ...
16738                         15                   23            19.98
16739                         21                   26            15.16
16740                          4                   26             1.65
16741                         13                   24            18.16
16742                          8                   23             7.51

       Unnamed: 14  Unnamed: 15 Unnamed: 16 Unnamed: 17
0              NaN          NaN         NaN         NaN
1              NaN          NaN         NaN         NaN
2              NaN          NaN         NaN         NaN
3              NaN          NaN         NaN         NaN
4              NaN          NaN         NaN         NaN
...            ...          ...         ...         ...
16738          NaN          NaN         NaN         NaN
16739          NaN          NaN         NaN         NaN
16740          NaN          NaN         NaN         NaN
16741          NaN          NaN         NaN         NaN
16742          NaN          NaN         NaN         NaN

[16743 rows x 18 columns]

In [15]:
#Displaying first five rows of dataset
df.head()

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,0.00,3/1/2016,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39.0,46,32,33,4.33,NaN,NaN,NaN,NaN
1,0.00,3/1/2016,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39.0,47,31,32,3.86,NaN,NaN,NaN,NaN
2,0.16,3/1/2016,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46.0,51,41,35,9.73,NaN,NaN,NaN,NaN
3,0.00,3/1/2016,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45.0,52,38,32,6.86,NaN,NaN,NaN,NaN
4,0.01,3/1/2016,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,NaN,38,29,19,7.80,NaN,NaN,NaN,NaN

In [16]:
#Identifying missing values in the dataset
df.isnull().sum()

Data.Precipitation               0
Date.Full                        0
Date.Month                       0
Date.Week of                     0
Date.Year                        0
Station.City                     0
Station.Code                     0
Station.Location                 0
Station.State                    0
Data.Temperature.Avg Temp        7
Data.Temperature.Max Temp        0
Data.Temperature.Min Temp        0
Data.Wind.Direction              0
Data.Wind.Speed                  7
Unnamed: 14                  16743
Unnamed: 15                  16743
Unnamed: 16                  16742
Unnamed: 17                  16742
dtype: int64

In [17]:
#Replacing missing values in Avg Temp with mean
df["Data.Temperature.Avg Temp"].fillna(
    df["Data.Temperature.Avg Temp"].mean(),
    inplace=True
)
df.head()

/tmp/ipython-input-22760695.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Data.Temperature.Avg Temp"].fillna(

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,0.00,3/1/2016,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39.000000,46,32,33,4.33,NaN,NaN,NaN,NaN
1,0.00,3/1/2016,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39.000000,47,31,32,3.86,NaN,NaN,NaN,NaN
2,0.16,3/1/2016,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46.000000,51,41,35,9.73,NaN,NaN,NaN,NaN
3,0.00,3/1/2016,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45.000000,52,38,32,6.86,NaN,NaN,NaN,NaN
4,0.01,3/1/2016,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,56.099486,38,29,19,7.80,NaN,NaN,NaN,NaN

In [18]:
# replacing missing wind speed with average values
df["Data.Wind.Speed"].fillna(
    df["Data.Wind.Speed"].mean(),
    inplace=True
)

/tmp/ipython-input-3490206824.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Data.Wind.Speed"].fillna(

In [19]:
#Verifying missing values are filled.
df.isnull().sum()

Data.Precipitation               0
Date.Full                        0
Date.Month                       0
Date.Week of                     0
Date.Year                        0
Station.City                     0
Station.Code                     0
Station.Location                 0
Station.State                    0
Data.Temperature.Avg Temp        0
Data.Temperature.Max Temp        0
Data.Temperature.Min Temp        0
Data.Wind.Direction              0
Data.Wind.Speed                  0
Unnamed: 14                  16743
Unnamed: 15                  16743
Unnamed: 16                  16742
Unnamed: 17                  16742
dtype: int64

In [20]:
# Convert Celsius to Fahrenheit
df["Data.Temperature.Avg Temp"] = (df["Data.Temperature.Avg Temp"] * 9/5) + 32
df['Data.Temperature.Avg Temp'].head()

0    102.200000
1    102.200000
2    114.800000
3    113.000000
4    132.979075
Name: Data.Temperature.Avg Temp, dtype: float64

In [21]:
#converting and storing temperature in a new cloumn
df["Temperature_F"] = (df["Data.Temperature.Avg Temp"] * 9/5) + 32
df.head()

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Temperature_F
0,0.00,3/1/2016,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,102.200000,46,32,33,4.33,NaN,NaN,NaN,NaN,215.960000
1,0.00,3/1/2016,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,102.200000,47,31,32,3.86,NaN,NaN,NaN,NaN,215.960000
2,0.16,3/1/2016,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,114.800000,51,41,35,9.73,NaN,NaN,NaN,NaN,238.640000
3,0.00,3/1/2016,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,113.000000,52,38,32,6.86,NaN,NaN,NaN,NaN,235.400000
4,0.01,3/1/2016,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,132.979075,38,29,19,7.80,NaN,NaN,NaN,NaN,271.362335

In [22]:
#Min Max Normalization
df["Precipitation_MinMax"] = (
    (df["Data.Precipitation"] - df["Data.Precipitation"].min()) /
    (df["Data.Precipitation"].max() - df["Data.Precipitation"].min())
)
df['Precipitation_MinMax'].head()

0    0.000000
1    0.000000
2    0.007659
3    0.000000
4    0.000479
Name: Precipitation_MinMax, dtype: float64

In [23]:
#Z Score Normalization
df["WindSpeed_Zscore"] = (
    (df["Data.Wind.Speed"] - df["Data.Wind.Speed"].mean()) /
    df["Data.Wind.Speed"].std()
)
df['WindSpeed_Zscore'].head()

0   -0.572011
1   -0.706523
2    0.973456
3    0.152069
4    0.421095
Name: WindSpeed_Zscore, dtype: float64

In [24]:
#Displaying Normalized Columns
df[["Precipitation_MinMax", "WindSpeed_Zscore"]].head()

   Precipitation_MinMax  WindSpeed_Zscore
0              0.000000         -0.572011
1              0.000000         -0.706523
2              0.007659          0.973456
3              0.000000          0.152069
4              0.000479          0.421095

In [25]:
#Identifying Duplicate rows in dataset
print(df['Station.Location'].duplicated().sum())

16425

In [26]:
#Dropping duplicate rows
df = df.drop_duplicates()
df.shape

(16743, 21)

In [27]:
#Displaying Total number of rows after removal
len(df)

16743

In [28]:
#Summary Statistics of cleaned dataset[]
df.describe()

,Data.Precipitation,Date.Month,Date.Week of,Date.Year,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed,Unnamed: 14,Unnamed: 15,Temperature_F,Precipitation_MinMax,WindSpeed_Zscore
count,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,0.0,0.0,16743.000000,16743.000000,1.674300e+04
mean,0.579090,6.343128,15.650242,2016.018933,132.979075,66.042406,45.642716,18.791316,6.328656,NaN,NaN,271.362335,0.027721,-2.206786e-16
std,0.988057,3.490723,8.923425,0.136294,33.819552,19.787954,18.559263,6.461527,3.494089,NaN,NaN,60.875193,0.047298,1.000000e+00
min,0.000000,1.000000,1.000000,2016.000000,-16.600000,-19.000000,-35.000000,0.000000,0.000000,NaN,NaN,2.120000,0.000000,-1.811246e+00
25%,0.000000,3.000000,8.000000,2016.000000,111.200000,53.000000,33.000000,15.000000,4.040000,NaN,NaN,232.160000,0.000000,-6.550079e-01
50%,0.190000,6.000000,16.000000,2016.000000,136.400000,68.000000,47.000000,19.000000,5.940000,NaN,NaN,277.520000,0.009095,-1.112325e-01
75%,0.750000,9.000000,24.000000,2016.000000,159.800000,82.000000,60.000000,23.000000,8.080000,NaN,NaN,319.640000,0.035902,5.012304e-01
max,20.890000,12.000000,31.000000,2017.000000,212.000000,111.000000,88.000000,36.000000,61.100000,NaN,NaN,413.600000,1.000000,1.567543e+01

In [29]:
#Saving Cleaned Dataset
df.to_csv("cleaned_weather.csv", index=False)

In [30]:
#Creating a Dataset and Displaying it.
import pandas as pd

data = {
  "Color": ["Red", "Blue", "Green", "Yellow", "Black"]
}

df_color = pd.DataFrame(data)
print(df_color)

    Color
0     Red
1    Blue
2   Green
3  Yellow
4   Black

In [31]:
#Applying one hot encoding
encoded_df = pd.get_dummies(df_color, columns=["Color"])

In [32]:
#Displaing onr hot encoded dataframe.
print(encoded_df)

   Color_Black  Color_Blue  Color_Green  Color_Red  Color_Yellow
0        False       False        False       True         False
1        False        True        False      False         False
2        False       False         True      False         False
3        False       False        False      False          True
4         True       False        False      False         False