In [13]:
#Script to scrap all the headng from a website
import requests
from bs4 import BeautifulSoup

url = "https://books.toscrape.com/"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

# Extract all headings
for tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
    headings = soup.find_all(tag)
    for heading in headings:
        print(tag.upper(), ":", heading.text.strip())

H1 : All products
H3 : A Light in the ...
H3 : Tipping the Velvet
H3 : Soumission
H3 : Sharp Objects
H3 : Sapiens: A Brief History ...
H3 : The Requiem Red
H3 : The Dirty Little Secrets ...
H3 : The Coming Woman: A ...
H3 : The Boys in the ...
H3 : The Black Maria
H3 : Starving Hearts (Triangular Trade ...
H3 : Shakespeare's Sonnets
H3 : Set Me Free
H3 : Scott Pilgrim's Precious Little ...
H3 : Rip it Up and ...
H3 : Our Band Could Be ...
H3 : Olio
H3 : Mesaerion: The Best Science ...
H3 : Libertarianism for Beginners
H3 : It's Only the Himalayas

In [14]:
#script to Extract all the hyperlinks from a website and store them in a csv file.
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://books.toscrape.com/"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

links = []

for a in soup.find_all('a'):
    link = a.get('href')
    if link:
        links.append(link)

# Save to CSV
df = pd.DataFrame(links, columns=["Hyperlinks"])
df.to_csv("hyperlinks.csv", index=False)

print("Links saved successfully!")

Links saved successfully!

In [15]:
#script to extract product names and prices from an e-commerce website and Save the extracted data in a structured format CSV.
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://books.toscrape.com"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

products = soup.find_all("article", class_="product_pod")

data = []

for product in products:
    name = product.h3.a["title"]
    price = product.find("p", class_="price_color").text

    data.append([name, price])

df = pd.DataFrame(data, columns=["Product Name", "Price"])
df.to_csv("products.csv", index=False)

print("Product data saved!")

Product data saved!

In [16]:
#Scrape the latest news headlines and their links from a news website and display them in a formatted table.
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://news.ycombinator.com"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

titles = soup.find_all("span", class_="titleline")

news_data = []

for title in titles:
    headline = title.text
    link = title.a["href"]

    news_data.append([headline, link])

df = pd.DataFrame(news_data, columns=["Headline", "Link"])
print(df)

                                             Headline  \
0   Discord/Twitch/Snapchat age verification bypas...
1   Warcraft III Peon Voice Notifications for Clau...
2       How to Make a Living as an Artist (fnnch.com)
3          Using an engineering notebook (ntietz.com)
4                  D Programming Language (dlang.org)
5   “Nothing” is the secret to structuring your wo...
6   GLM-5: Targeting complex systems engineering a...
7   Fluorite – A console-grade game engine fully i...
8   Text classification with Python 3.14's ZSTD mo...
9   Kanchipuram Saris and Thinking Machines (alter...
10  Reports of Telnet's death have been greatly ex...
11            NetNewsWire Turns 23 (netnewswire.blog)
12  Ireland rolls out basic income scheme for arti...
13                 The Problem with LLMs (deobald.ca)
14  From 34% to 96%: The Porting Initiative Delive...
15  Deobfuscation and Analysis of Ring-1.io (back....
16   The Other Markov's Inequality (ethanepperly.com)
17  WiFi Could Become an Invisible Mass Surveillan...
18  Covering electricity price increases from our ...
19  Claude Code is being dumbed down? (symmetrybre...
20  Apple's latest attempt to launch the new Siri ...
21  Show HN: CodeRLM – Tree-sitter-backed code ind...
22  Microwave Oven Failure: Spontaneously turned o...
23  GLM-OCR – A multimodal OCR model for complex d...
24  GPT-5 outperforms federal judges in legal reas...
25  Show HN: Agent Alcove – Claude, GPT, and Gemin...
26  Officials Claim Drone Incursion Led to Shutdow...
27  Trying Out Thunderbird Appointment While I Pat...
28  Amazon Ring's lost dog ad sparks backlash amid...
29  Sekka Zusetsu: A Book of Snowflakes (1832) (pu...

                                                 Link
0                    https://age-verifier.kibty.town/
1               https://github.com/tonyyont/peon-ping
2              https://essays.fnnch.com/make-a-living
3   https://ntietz.com/blog/using-an-engineering-n...
4                                  https://dlang.org/
5              https://www.vangemert.dev/blog/nothing
6                             https://z.ai/blog/glm-5
7                              https://fluorite.game/
8   https://maxhalford.github.io/blog/text-classif...
9   https://altermag.com/articles/kanchipuram-sari...
10  https://www.terracenetworks.com/blog/2026-02-1...
11  https://netnewswire.blog/2026/02/11/netnewswir...
12  https://www.reuters.com/world/ireland-rolls-ou...
13  https://www.deobald.ca/essays/2026-02-10-the-p...
14  https://hologram.page/blog/porting-initiative-...
15          https://back.engineering/blog/04/02/2026/
16  https://www.ethanepperly.com/index.php/2026/01...
17  https://scitechdaily.com/researchers-warn-wifi...
18  https://www.anthropic.com/news/covering-electr...
19  https://symmetrybreak.ing/blog/claude-code-is-...
20  https://www.bloomberg.com/news/articles/2026-0...
21  https://github.com/JaredStewart/coderlm/blob/m...
22  https://blog.stuffedcow.net/2024/06/microwave-...
23                 https://github.com/zai-org/GLM-OCR
24  https://papers.ssrn.com/sol3/papers.cfm?abstra...
25                             https://agentalcove.ai
26  https://www.nytimes.com/2026/02/11/us/faa-el-p...
27  https://blog.matthewbrunelle.com/trying-out-th...
28  https://www.theverge.com/tech/876866/ring-sear...
29  https://publicdomainreview.org/collection/japa...

In [17]:
# script to Scrape the alt text of images from a webpage.
import requests
from bs4 import BeautifulSoup

url = "https://books.toscrape.com"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

images = soup.find_all("img")

for img in images:
    alt_text = img.get("alt")
    if alt_text:
        print("Alt Text:", alt_text)

Alt Text: A Light in the Attic
Alt Text: Tipping the Velvet
Alt Text: Soumission
Alt Text: Sharp Objects
Alt Text: Sapiens: A Brief History of Humankind
Alt Text: The Requiem Red
Alt Text: The Dirty Little Secrets of Getting Your Dream Job
Alt Text: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
Alt Text: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
Alt Text: The Black Maria
Alt Text: Starving Hearts (Triangular Trade Trilogy, #1)
Alt Text: Shakespeare's Sonnets
Alt Text: Set Me Free
Alt Text: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Alt Text: Rip it Up and Start Again
Alt Text: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Alt Text: Olio
Alt Text: Mesaerion: The Best Science Fiction Stories 1800-1849
Alt Text: Libertarianism for Beginners
Alt Text: It's Only the Himalayas

In [18]:
#script to Extract and print meta description and keywords from a webpage.
import requests
from bs4 import BeautifulSoup

url = "https://www.geeksforgeeks.org/"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

# Meta description
description = soup.find("meta", attrs={"name": "description"})

# Meta keywords
keywords = soup.find("meta", attrs={"name": "keywords"})

if description:
    print("Description:", description.get("content"))

if keywords:
    print("Keywords:", keywords.get("content"))

Description: Your All-in-One Learning Portal. It contains well written, well thought and well explained computer science and programming articles, quizzes and practice/competitive programming/company interview Questions.
Keywords: Organization, College, Companies, Institutions, Video, Data Structures, Algorithms, Python, Java, C, C++, JavaScript, Android Development, SQL, Data Science, Machine Learning, PHP, Web Development, System Design, Tutorial, Technical Blogs, Interview Experience, Interview Preparation, Programming, Competitive Programming, SDE Sheet, Job-a-thon, Coding Contests, GATE CSE, HTML, CSS, React, NodeJS, Placement, Aptitude, Quiz, Computer Science, Programming Examples, GeeksforGeeks Courses, Puzzles

In [19]:
#Loading weather dataset
import pandas as pd
df = pd.read_csv("weather.csv")
print(df)

       Data.Precipitation Date.Full  Date.Month  Date.Week of  Date.Year  \
0                    0.00  3/1/2016           1             3       2016
1                    0.00  3/1/2016           1             3       2016
2                    0.16  3/1/2016           1             3       2016
3                    0.00  3/1/2016           1             3       2016
4                    0.01  3/1/2016           1             3       2016
...                   ...       ...         ...           ...        ...
16738                0.08  1/1/2017           1             1       2017
16739                0.00  1/1/2017           1             1       2017
16740                0.00  1/1/2017           1             1       2017
16741                0.06  1/1/2017           1             1       2017
16742                0.10  1/1/2017           1             1       2017

      Station.City Station.Code Station.Location Station.State  \
0       Birmingham          BHM   Birmingham, AL       Alabama
1       Huntsville          HSV   Huntsville, AL       Alabama
2           Mobile          MOB       Mobile, AL       Alabama
3       Montgomery          MGM   Montgomery, AL       Alabama
4        Anchorage          ANC    Anchorage, AK        Alaska
...            ...          ...              ...           ...
16738       Casper          CPR       Casper, WY       Wyoming
16739     Cheyenne          CYS     Cheyenne, WY       Wyoming
16740       Lander          LND       Lander, WY       Wyoming
16741      Rawlins          RWL      Rawlins, WY       Wyoming
16742     Sheridan          SHR     Sheridan, WY       Wyoming

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
0                           39.0                         46
1                           39.0                         47
2                           46.0                         51
3                           45.0                         52
4                           34.0                         38
...                          ...                        ...
16738                       23.0                         32
16739                       32.0                         42
16740                       17.0                         29
16741                       23.0                         31
16742                       21.0                         34

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
0                             32                   33             4.33
1                             31                   32             3.86
2                             41                   35             9.73
3                             38                   32             6.86
4                             29                   19             7.80
...                          ...                  ...              ...
16738                         15                   23            19.98
16739                         21                   26            15.16
16740                          4                   26             1.65
16741                         13                   24            18.16
16742                          8                   23             7.51

[16743 rows x 14 columns]

In [20]:
#Displaying first five rows of dataset
df.head()

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,3/1/2016,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39.0,46,32,33,4.33
1,0.00,3/1/2016,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39.0,47,31,32,3.86
2,0.16,3/1/2016,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46.0,51,41,35,9.73
3,0.00,3/1/2016,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45.0,52,38,32,6.86
4,0.01,3/1/2016,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34.0,38,29,19,7.80

In [21]:
#Identifying missing values in the dataset
df.isnull().sum()

Data.Precipitation            0
Date.Full                     0
Date.Month                    0
Date.Week of                  0
Date.Year                     0
Station.City                  0
Station.Code                  0
Station.Location              0
Station.State                 0
Data.Temperature.Avg Temp    14
Data.Temperature.Max Temp     0
Data.Temperature.Min Temp     0
Data.Wind.Direction           0
Data.Wind.Speed              16
dtype: int64

In [54]:
#Replacing missing values in Avg Temp with mean
df["Data.Temperature.Avg Temp"].fillna(
    df["Data.Temperature.Avg Temp"].mean(),
    inplace=True
)
df.head()

/tmp/ipython-input-22760695.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Data.Temperature.Avg Temp"].fillna(

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed,Temperature_F,Precipitation_MinMax,WindSpeed_Zscore
0,0.00,3/1/2016,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39.0,46,32,33,4.33,102.2,0.000000,-0.572087
1,0.00,3/1/2016,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39.0,47,31,32,3.86,102.2,0.000000,-0.706680
2,0.16,3/1/2016,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46.0,51,41,35,9.73,114.8,0.007659,0.974304
3,0.00,3/1/2016,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45.0,52,38,32,6.86,113.0,0.000000,0.152426
4,0.01,3/1/2016,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34.0,38,29,19,7.80,93.2,0.000479,0.421612

In [25]:
# replacing missing wind speed with average values
df["Data.Wind.Speed"].fillna(
    df["Data.Wind.Speed"].mean(),
    inplace=True
)

/tmp/ipython-input-3354614570.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Data.Wind.Speed"].fillna(

In [27]:
#Verifying missing values are filled.
df.isnull().sum()

Data.Precipitation           0
Date.Full                    0
Date.Month                   0
Date.Week of                 0
Date.Year                    0
Station.City                 0
Station.Code                 0
Station.Location             0
Station.State                0
Data.Temperature.Avg Temp    0
Data.Temperature.Max Temp    0
Data.Temperature.Min Temp    0
Data.Wind.Direction          0
Data.Wind.Speed              0
dtype: int64

In [59]:
# Convert Celsius to Fahrenheit
df["Data.Temperature.Avg Temp"] = (df["Data.Temperature.Avg Temp"] * 9/5) + 32
df['Data.Temperature.Avg Temp'].head()

0    215.96
1    215.96
2    238.64
3    235.40
4    199.76
Name: Data.Temperature.Avg Temp, dtype: float64

In [29]:
#converting and storing temperature in a new cloumn
df["Temperature_F"] = (df["Data.Temperature.Avg Temp"] * 9/5) + 32
df.head()

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed,Temperature_F
0,0.00,3/1/2016,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39.0,46,32,33,4.33,102.2
1,0.00,3/1/2016,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39.0,47,31,32,3.86,102.2
2,0.16,3/1/2016,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46.0,51,41,35,9.73,114.8
3,0.00,3/1/2016,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45.0,52,38,32,6.86,113.0
4,0.01,3/1/2016,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34.0,38,29,19,7.80,93.2

In [55]:
#Min Max Normalization
df["Precipitation_MinMax"] = (
    (df["Data.Precipitation"] - df["Data.Precipitation"].min()) /
    (df["Data.Precipitation"].max() - df["Data.Precipitation"].min())
)
df['Precipitation_MinMax'].head()

0    0.000000
1    0.000000
2    0.007659
3    0.000000
4    0.000479
Name: Precipitation_MinMax, dtype: float64

In [56]:
#Z Score Normalization
df["WindSpeed_Zscore"] = (
    (df["Data.Wind.Speed"] - df["Data.Wind.Speed"].mean()) /
    df["Data.Wind.Speed"].std()
)
df['WindSpeed_Zscore'].head()

0   -0.572087
1   -0.706680
2    0.974304
3    0.152426
4    0.421612
Name: WindSpeed_Zscore, dtype: float64

In [38]:
#Displaying Normalized Columns
df[["Precipitation_MinMax", "WindSpeed_Zscore"]].head()

   Precipitation_MinMax  WindSpeed_Zscore
0              0.000000         -0.572087
1              0.000000         -0.706680
2              0.007659          0.974304
3              0.000000          0.152426
4              0.000479          0.421612

In [57]:
#Identifying Duplicate rows in dataset
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16738    False
16739    False
16740    False
16741    False
16742    False
Length: 16743, dtype: bool

In [51]:
#Dropping duplicate rows
df = df.drop_duplicates()
df.shape

(16743, 17)

In [41]:
#Displaying Total number of rows after removal
len(df)

16743

In [42]:
#Summary Statistics of cleaned dataset
df.describe()

,Data.Precipitation,Date.Month,Date.Week of,Date.Year,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed,Temperature_F,Precipitation_MinMax,WindSpeed_Zscore
count,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,1.674300e+04
mean,0.579090,6.343128,15.650242,2016.018933,56.110945,66.042406,45.642716,18.791316,6.327729,132.999701,0.027721,-3.649685e-17
std,0.988057,3.490723,8.923425,0.136294,18.780755,19.787954,18.559263,6.461527,3.492003,33.805359,0.047298,1.000000e+00
min,0.000000,1.000000,1.000000,2016.000000,-27.000000,-19.000000,-35.000000,0.000000,0.000000,-16.600000,0.000000,-1.812063e+00
25%,0.000000,3.000000,8.000000,2016.000000,44.000000,53.000000,33.000000,15.000000,4.040000,111.200000,0.000000,-6.551337e-01
50%,0.190000,6.000000,16.000000,2016.000000,58.000000,68.000000,47.000000,19.000000,5.950000,136.400000,0.009095,-1.081697e-01
75%,0.750000,9.000000,24.000000,2016.000000,71.000000,82.000000,60.000000,23.000000,8.080000,159.800000,0.035902,5.017954e-01
max,20.890000,12.000000,31.000000,2017.000000,100.000000,111.000000,88.000000,36.000000,61.100000,212.000000,1.000000,1.568506e+01

In [44]:
#Saving Cleaned Dataset
df.to_csv("cleaned_weather.csv", index=False)

In [46]:
#Creating a Dataset and Displaying it.
import pandas as pd

data = {
    "Color": ["Red", "Blue", "Green", "Yellow", "Black"]
}

df_color = pd.DataFrame(data)
print(df_color)

    Color
0     Red
1    Blue
2   Green
3  Yellow
4   Black

In [48]:
#Applying one hot encoding
encoded_df = pd.get_dummies(df_color, columns=["Color"])

In [49]:
#Displaing onr hot encoded dataframe.
print(encoded_df)

   Color_Black  Color_Blue  Color_Green  Color_Red  Color_Yellow
0        False       False        False       True         False
1        False        True        False      False         False
2        False       False         True      False         False
3        False       False        False      False          True
4         True       False        False      False         False